<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false">

  <targets async="true">
    <target xsi:type="File"
            name="App" lineEnding="Default"
            autoFlush="true" keepFileOpen="false"
            concurrentWrites="true" archiveEvery="Minute"
            fileName="logs/ApplicationLog_${date:format=YYYYmmDDHH}.txt"
            archiveFileName="archive/ApplicationLog_${date:format=YYYYmmDDHH}_{#####}.log"
            archiveNumbering="Sequence" maxArchiveFiles="720">
      <layout xsi:type="CsvLayout">
        <column name="time" layout="${longdate}" />
        <column name="level" layout="${level}" />
        <column name="logger" layout="${logger}" />
        <column name="message" layout="${message}" />
        <column name="exception" layout="${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method,stacktrace,tostring:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
      </layout>
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Info" maxlevel="Error" final="true" writeTo="App"/>
  </rules>
</nlog>
